<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WiFi Self Configuration</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>WiFi Self Configuration</h1>
  </div>

  <form>
    <div class="form-group">
      <label for="ssidInput">WiFi Network</label>
      <select class="form-control" id="ssidInput">
        {% for ssid in wifi.ssids %}
          <option>{{ ssid }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="form-control" id="wepInput" value="1"> Uses WEP
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form action="wifi" method="post">
  
  <br/>
  <h4>Your current ip address is {{ wifi.ip }}</h4>
  <br/><br/>
</div>



<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
